<div class="footer container-fluid">
    <a href="{{ metadata.siteURLPostfix }}" class="logotype footer__logotype">Фотография дяди Васи</a>
    <div>@Все права защищены.</div>
</div>
</div>
<div class="to-top js_to-top"></div>
<script src="{{ metadata.siteURLPostfix }}/js/scripts.js"></script>