<nav class="">
  <ul>
    {% for entry in collections.all | eleventyNavigation %}
      <li class="{% if entry.url == page.url %}active{% endif %}">
        <a href="{{ metadata.siteURLPostfix }}{{ entry.url }}">{{ entry.title }}</a>
        
        {% if entry.children.length %}
          <ul>
            {% for child in entry.children %}
              <li>
                <a href="{{ metadata.siteURLPostfix }}{{ child.url }}index.html">{{ child.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>