<div class="portfolio-contact-us container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h2>Закажите фотосессию прямо сейчас!</h2>
          <p>По телефону:</br>
            <a href="tel:+79214273281">+7 921 427 32 81</a></p>
          <p>По почте:</br>
          <a href="mailto:feni9214273281@gmail.com">feni9214273281@gmail.com</a></br>
          <a href="mailto:feni9214273281@yandex.ru">feni9214273281@yandex.ru</a></br>
          </p>
          <p>По тегу:</br>
            @fenibazil</br></br>
          </p>
        </div>
        <div class="col-12 col-lg-6">
          <img src="{{ metadata.siteURLPostfix }}/images/Me.jpg" alt="Me" loading="lazy">
        </div>
      </div>
</div>