{% for entry in collections.all | eleventyNavigation %}
  {% if  entry.key == "Портфолио" %}
  <div class="" data-module="portfolioSlider">
      <div class="portfolio-slider swiper" id="portfolio-slider">
        {% if entry.children.length %}
          <div class="portfolio-slider_list swiper-wrapper">
            {% for child in entry.children %}
              <div class="portfolio-slider_slide  swiper-slide">
                  <img class="portfolio-slider_image" src="{{ metadata.siteURLPostfix }}{{ child.previewImage }}" alt="{{ child.title }}" loading="lazy">
                  <div class="portfolio-slider_content">
                    <h2>{{ child.title }}</h2>
                    {% if  child.previewText %}
                      <p>{{ child.previewText }}</p>
                    {% endif %}
                    <a href="{{ metadata.siteURLPostfix }}{{ child.url }}index.html" class="btn">Подробнее</a>
                  </div>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-prev js_portfolio-slider-button-prev"></div>
          <div class="swiper-button-next js_portfolio-slider-button-next"></div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}