.portfolio-section {
    display: flex;
    flex-direction: column;

    @include respond-to(lg) {
        flex-direction: row;
        align-items: stretch;
        gap: 40px;
    }

    &_text {
        padding: 8px;
        margin-bottom: 20px;

        @include respond-to(lg) {
            flex: 0 0 35%;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: right;
        }

        h2 {
            margin-bottom: 16px;
        }

        p {
            margin: 0;
        }
    }

    
    &:nth-child(even) {
        @include respond-to(lg) {
            flex-direction: row-reverse;
        }

        .portfolio-section_text {
            @include respond-to(lg) {
                text-align: left;
            }
        }
    }
}

.portfolio-section-slider {
    position: relative;
    margin: 20px 0;

    @include respond-to(lg) {
        flex: 1;
        margin: 0;
    }

    .swiper-wrapper {
        height: 100%;
    }

    &_slide {
        display: flex;
        flex-direction: column;

        @include respond-to(lg) {
            aspect-ratio: 16 / 9;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $black-design;
    }
}