.portfolio-section {

}

.portfolio-section-slider {
    position: relative;
    margin: 36px 0;
    @include respond-to(lg) {
        margin: 60px 0;
    }

    &_slide {
        display: flex;
        flex-direction: column;
        border-bottom: $default-border;
        @include respond-to(lg) {
            aspect-ratio: 16 / 9;
        }
    }

    &_image {
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        background-color: $white-design;
        padding: 24px 60px;
        @include respond-to(lg) {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            max-width: 30%;
            padding: 24px 0px;
            padding-left: 80px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $black-design;
    }
}