// библиотеки
@import "bootstrap/scss/bootstrap";

@import "@fancyapps/ui/dist/fancybox/fancybox.css";
@import "choices.js/public/assets/styles/choices.css";
@import "swiper/css";

// Шрифты
//@import '../fonts/**/*.css';


// Базовые
@import 'variables';
@import 'mixins';
@import 'styleguide';