// Цвета

$white-design: #FFFFFF;

$red-design: #E90037;



// shadow


// system colors


// fonts


// width
$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
$media-xxl: 1600px;

$media-from-sm: 575px;
$media-from-md: 767px;
$media-from-lg: 991px;
$media-from-xl: 1199px;
$media-from-xxl: 1599px;