<!doctype html>
<html lang="{{ metadata.language }}">
{% include 'snippets/head.njk' %}
<body>
{% include 'snippets/header.njk' %}

{% include 'snippets/portfolio-contact-us.njk' %}
{{ content }}
{% include 'snippets/footer.njk' %}
</body>
</html>