<!doctype html>
<html lang="{{ metadata.language }}">
{% include 'snippets/head.njk' %}
<body>
{% include 'snippets/header.njk' %}
<div class="content">
{{ content | safe}}

{% include 'snippets/portfolio-contact-us.njk' %}
</div>
{% include 'snippets/footer.njk' %}
</body>
</html>