<!doctype html>
<html lang="{{ metadata.language }}">
{% include 'snippets/head.njk' %}
<body>
{% include 'snippets/header.njk' %}
{% include 'snippets/portfolio-slider.njk' %}

{{ content | safe}}

{% include 'snippets/portfolio-contact-us.njk' %}
{% include 'snippets/footer.njk' %}
</body>


</html>