<!doctype html>
<html lang="{{ metadata.language }}">
{% include 'snippets/head.njk' %}
<body>
{% include 'snippets/header.njk' %}
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div>
          <h1>{{ title }}</h1>

          <h2>{{ subtitle }}</h2>

          {{ content }}

        </div>
      </div>
    </div>
  </div>

{% include 'snippets/footer.njk' %}
</body>
</html>