<!doctype html>
<html lang="{{ metadata.language }}">
{% include 'snippets/head.njk' %}
<body>
{% include 'snippets/header.njk' %}
<div class="content">
<div class="main-banner container-fluid">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h1>{{ title }}</h1>

          <h2>{{ subtitle }}</h2>

          {{ text | safe }}

        </div>
        <div class="col-12 col-lg-6">
          <img src="{{ metadata.siteURLPostfix }}{{ mainBanner }}" alt="{{ title }}">
        </div>
      </div>
</div>
{% if content %}
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 my-5">

          {{ content | safe}}

        </div>
      </div>
    </div>
  {% endif %}

{% include 'snippets/portfolio-section-slider.njk' %}
{% include 'snippets/portfolio-contact-us.njk' %}
</div>
{% include 'snippets/footer.njk' %}
</body>
</html>