---
title: "Фотография мероприятий"
subtitle: ""
mainBanner: "/images/portfolio/event/main-banner-image.jpg"

eleventyNavigation:
  key: "Мероприятия"
  order: 200
  parent: "Портфолио"
  previewImage: "/images/portfolio/event/slider-image.jpg"
  previewText: "Живые кадры атмосферы и эмоций вашего мероприятия."
---