---
title: "Предметная фотография"
subtitle: ""
mainBanner: "/images/portfolio/product/main-banner-image.jpg"

eleventyNavigation:
  key: "Предметная съёмка"
  order: 200
  parent: "Портфолио"
  previewImage: "/images/portfolio/product/slider-image.jpg"
  previewText: "Подчёркивание деталей и качества вашего продукта."
---