---
title: "Театральная фотография"
subtitle: ""
mainBanner: "/images/portfolio/theater/main-banner-image.jpg"

eleventyNavigation:
  key: "Театр"
  order: 200
  parent: "Портфолио"
  previewImage: "/images/portfolio/theater/slider-image.jpg"
  previewText: "Свет, движение и эмоции сцены, застывшие в кадре."
---