---
layout: layouts/contacts.njk
title: "Контакты"
eleventyNavigation:
  key: "Контакты"
  order: 300
---

 <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 text-center mb-5">
        <h1>Нужна съёмка? Свяжитесь со мной!</h1>
        <p class="lead">Я всегда рад новым проектам, съёмкам и сотрудничеству.</p>
        <p>Пишите или звоните — обсудим детали.</p>
      </div>
    </div>
  </div>